<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-ant-path@1.3.0/dist/leaflet-ant-path.js" type="text/javascript"></script>

    <script src="https://unpkg.com/esri-leaflet@3.0.10/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-vector@4.0.1/dist/esri-leaflet-vector.js"></script>

    <script src="https://unpkg.com/esri-leaflet-geocoder@3.1.4/dist/esri-leaflet-geocoder.js"></script>

    <script src="https://unpkg.com/@esri/arcgis-rest-request@4.0.0/dist/bundled/request.umd.js"></script>
    <script src="https://unpkg.com/@esri/arcgis-rest-routing@4.0.0/dist/bundled/routing.umd.js"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.1.2/themes/krajee-svg/theme.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/locales/"></script>

    <script src="
    https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js
    "></script>

    {% load static %}
    <script type="text/javascript" src="{% static 'js/apiKey.js' %}"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-default" style = "margin:0px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Food Ordering App</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/product-list/1">Món ăn</a></li>
            <li><a href="/store-list/1">Cửa hàng</a></li>
            <li><a href="/routing-test">Routing Test</a></li>
        </ul>
          {% if not user.is_authenticated %}
          <a href="/login">
              <button class = "btn btn-custom navbar-btn">Log In</button>
          </a>
          {% elif user.is_authenticated %}
          <div class="dropleft user-nav" style = "margin-left: 30px; margin-top:1px; position:relative;">
              {% load static %}
              <button class="btn btn-lg" type="button" data-toggle="dropdown" style = "height:48px; width:48px;">
                  <img src="{% static 'bars-solid.svg' %}" style="margin-left:-7px;height:30px; width:30px;">
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                  <li><a href="/profile">Thông tin Cá nhân</a></li>
                  {% if user.groups.all|length <= 1 %}
                    <li><a href="/current-store">Đăng ký Vai trò Chủ cửa hàng</a></li>
                    <li><a href="/deliverer-profile">Đăng ký Vai trò Người giao hàng</a></li>
                  {% endif %}
                  {% if user.profile.is_store_owner %}
                    <li><a href="/current-store">Cửa hàng</a></li>
                  {% endif %}
                  {% if user.profile.is_deliverer %}
                    <li><a href="/deliverer-profile">Thông tin Người giao hàng</a></li>
                    <li><a href="/current-delivery">Đơn vận chuyển hiện tại</a></li>
                  {% endif %}
                  {% if user.profile.is_moderator %}
                    <li><a href = "/moderator">Kiểm duyệt</a></li>
                  {% endif %}
                  <li><a href="/current-order">Đơn hàng hiện tại</a></li>
                  <li><a href="/logout">Đăng xuất</a></li>
              </ul>
          </div>
          <label class = "user-nav name navbar-btn" style = "margin-left:10px; margin-top:7px; position:relative; font-size:25px">{{user.profile.first_name}}</label>
          <img src="{{ user.profile.avatar.url }}" class = "avatar user-nav">
          {% endif %}
          <div class = "user-nav navbar-btn" style = "display: flex; justify-content: flex-start;">
              <input id = "search_bar" type = "text" style = "height:36px; width:240px;" maxlength="128">
              <button id = "search_button" style = "height:36px; width:48px; margin-right:25px; ">
                <img src="{% static 'magnifying-glass-solid.svg' %}" style="height:20px; width:20px;">
              </button>
              <script>
                  function search_product(){
                        search_keyword = $("#search_bar").val();
                        search_keyword = search_keyword === "" ? " " : search_keyword;
                        window.location.replace(`/product-list/search_keyword/${search_keyword}/1`);
                  };
                  $("#search_button").click(search_product);
                  $("#search_bar").keypress(function(e) {
                      if (e.which == 13) {
                        search_product();
                      }
                    });
              </script>
          </div>


      </div>
    </nav>



    {% if user.is_authenticated %}
        {% if user.profile.is_deliverer %}
            {% if not user.deliverer_profile.is_active %}
            <div id = "check_in_modal" class = "modal fade in" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                Check-in
                            </h4>
                        </div>
                        <form id = "check_in_form">
                            <div class = "modal-body">

                                    {% csrf_token %}
                                    <div><h3>Chọn giờ làm việc cho hôm nay</h3></div>
                                    <div><label>Bắt đầu: </label><label style="color:green"> Hiện tại</label></div>
                                    <div>
                                        <label>Kết thúc</label>
                                        <input type = "time" id = "end_time" name = "end_time">
                                    </div>
                                    <div>
                                        <h5>Lưu ý: Giờ làm việc có thể được chỉnh sửa trong trang Thông tin Người giao hàng</h5>
                                    </div>
                            </div>
                            <div class = "modal-footer">
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% load static %}
            <script type="text/javascript" src="{% static 'js/deliverer-check-in.js' %}"></script>
            {% endif %}



        <form id = "current-location-form">
            {% csrf_token %}
            <input type = "hidden" name = "form_tag" value = "current_location" readonly>
            <input type = "hidden" id = "current_lat" name="current_lat" value = "{{user.deliverer_profile.current_location.lat}}" readonly>
            <input type = "hidden" id = "current_lng" name="current_lng" value = "{{user.deliverer_profile.current_location.lng}}" readonly>
            <input type = "hidden" id = "delivery_check" readonly>
            <input type = "hidden" id = "timestamp" name="timestamp">
        </form>

<!--        {% load static %}-->
<!--        <script type="text/javascript" src="{% static 'js/current-location.js' %}"></script>-->
        <nav class="navbar nav-pills nav-stacked" data-spy="affix" data-offset-top="200" style = "postion:absolute;z-index:10000;">

            <button data-toggle="collapse" data-target="#fake_location_collapse" class = "btn btn-primary">Fake Location</button>
            <div id="fake_location_collapse" class="collapse panel panel-default" style = "width: 40vw;">
                <div class="panel-heading" style = "width: 40vw;">Fake Location</div>
                <div class = "panel-body" id = "fake_location_map"  style = "height: 40vh; width: 40vw;"></div>
            </div>
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
            <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
            <script src="https://unpkg.com/leaflet-ant-path" type="text/javascript"></script>
            <script src="https://cdn.jsdelivr.net/npm/leaflet-textpath@1.2.0/leaflet.textpath.min.js"></script>

            <script src="https://unpkg.com/esri-leaflet@3.0.10/dist/esri-leaflet.js"></script>
            <script src="https://unpkg.com/esri-leaflet-vector@4.0.1/dist/esri-leaflet-vector.js"></script>

            <script src="https://unpkg.com/esri-leaflet-geocoder@3.1.4/dist/esri-leaflet-geocoder.js"></script>

            <script src="https://unpkg.com/@esri/arcgis-rest-request@4.0.0/dist/bundled/request.umd.js"></script>
            <script src="https://unpkg.com/@esri/arcgis-rest-routing@4.0.0/dist/bundled/routing.umd.js"></script>
            {% load static %}
            <script type="text/javascript" src="{% static 'js/fake-current-location.js' %}"></script>
        </nav>
        {% elif user.profile.is_store_owner %}
        <form id = "latest-product-form">
            {% csrf_token %}
            <input type="hidden" id="latest_order_product_name">
            <input type="hidden" id="latest_order_product_quantity">
            <input type="hidden" id="latest_order_product_status">
            <input type="hidden" id="latest_order_product_updated">
            <input type="hidden" id="latest_order_product_price">
            <script type="text/javascript" src="{% static 'js/latest-product.js' %}"></script>
        {% endif %}
        </form>

    {% endif %}
    <br>

    {% block content %}{% endblock %}
</body>
</html>